{% extends 'main/base.html' %}

{% load static %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-12" style="margin-top:20px;">
            <h4>#{{ item.id }} {{ item.title }}</h4>
            <hr>
            <p>
                {{ item.contents }}
            </p>
            <p class="text-right">
                <br>
                <br>
                {{ item.writer }}
            </p>
            <p class="text-right">
                {{ item.created }}
            </p>
            <p>
                {% comment %} <a href="{% url 'restaurant-delete' id=item.id %}">
                    <button class="btn btn-danger">삭제하기</button>
                </a> {% endcomment %}
            </p>
            <hr/>
            <p>
                {% comment %} <a href="{% url 'review-create' restaurant_id=item.id %}">
                    <button class="btn btn-info">리뷰쓰기</button>
                </a> {% endcomment %}
            </p>
        </div>
    </div>
</div>

{% endblock %}
