{% extends 'main/base.html' %}

{% load static %}
{% block content %}

{% comment %} TODO: 만약 로그인 해 있다면 사용자 정보, 시간, 오늘의 명언, todo를 보여주고(모멘텀?) 우측 상단에 환영합니다 ***님,
              로그아웃 상태라면 로그인 창이 뜨도록 {% endcomment %}
{% comment %} TODO: 게시판 리스트에서 상세 화면으로 접근하거나 글을 쓰려면 로그인이 필요하도록 {% endcomment %}


<div class="container mt-4">
    <div class="row">
        <div class="col">
        <form>
        <h4 class="mb-4">로그인</h4>
        <div class="form-group w-25">
            <label for="exampleInputEmail1">Email</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group w-25">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1">
        </div>
        <div class="form-group form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1">
            <label class="form-check-label" for="exampleCheck1">Check me out</label>
        </div>
        <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
        </div>
        <div>
        <button type="button" class="btn btn-secondary" onClick = " location.href='{% url 'join' %}' ">회원가입</button>
        </div>
    </div>
</div>
{% endblock %}
